

<section class="ml-5 mr-5">
<div class="container-fluid">
<h1 class="text-center pt-5">We Make Online Elections Easy and Affordable</h1>
<hr class="w-75 mx-auto pt-3 ">
	<div class="row vertical-center-row">
        <div class="text-center col-md-12 col-md-offset-12" style="">GoVote is a secure online voting platform that makes it easy to run elections at a fraction of the usual cost. We're the leading provider of ranked choice elections, which help achieve more democratic outcomes by better representing the will of your voters.
		</div>
    </div>
</div>
</section>

<section class="ml-5 mr-5">
<div class="container-fluid ">
<h1 class="text-center pt-5">Our Customers Say it Best</h1>
<hr class="w-75 mx-auto pt-3 ">
  <div class="row md-5">
       <div class="col-lg-6 col-md-6 col-12">
	   <p>GoVote's security features made it easy for us to audit the election while maintaining the secrecy of each voter's ballot. We had confidence the results accurately reflected the wishes of our voters.
	   </p>
	   <p>Srikant, Chennai</p>

	   </div>
	   <div class="col-lg-6 col-md-6 col-12">
	   <p>A particularly good feature is the 'reminder' email that you can send out periodically over the voting period. It certainly helped boost our response - more than 50% voted, which was excellent.
	   </p>
	   <p>Jaspreet, New Delhi</p>
	   </div>
  </div>
  <div class="row md-5">
		<div class="col-lg-6 col-md-6 col-12">
		<p>In one of our elections there were 6 candidates and the one with the 3rd most votes in the initial round ended up winning. OpaVote could not have better illustrated how ranked choice voting worked.
		</p>
		<p>Bornali, Guwahati</p>
		</div>
		<div class="col-lg-6 col-md-6 col-12">
		<p>GoVote helped us improve our governance by enlarging our voter base to all athletes. The results output is super transparent and easy to understand - the community loved it
		</p>
		<p>James, Itanagar</p>
		</div>
		
  </div>
</div>
</section>

<section class="mt-5 mb-5">

<div class="col-md-12 text-center">  
    <a href="user/signup" class="btn btn-primary btn-lg">Try It</a>
</div>
</section>



