<div class="container mt-3 ml-1 ">
  <div class="row">
    <div class="col align-self-start">
      
    </div>
    <div class="col align-self-center">
      
    </div>
    <div class="col align-self-center">
      
    </div>
    <div class="col align-self-center">
      
    </div>
    <div class="col align-self-center">
      
    </div>

    <div class="col align-self-end">
      <a href="/myprofile" class="btn btn-success btn-lg" role="button">View Profile</a>
    </div>
  </div>
</div>
<section class="ml-5 mr-5">
<div class="container-fluid ">
	<h1 class="text-center pt-5">Ongoing Voting</h1>
	<hr class="w-75 mx-auto pt-3 ">
	<div class="row vertical-center-row">
		<div class="text-center col-md-6 col-md-offset-6" style="">
			<section class="ml-2 mr-2">
				<div class="container-fluid">
					<h1 class="text-center pt-2">Choose your favorite Player</h1>
					<hr class="w-75 mx-auto pt-3 ">
					<div class="center">
						<div class="col-md-12 center">  
   						 	<a href="/players" class="btn btn-success btn-lg">Vote</a>
   						 	<a href="/resultPlayers" class="btn btn-warning btn-lg">Result</a>
						</div>
					</div>

				</div>
			</section>
		</div>
		<div class="text-center col-md-6 col-md-offset-6" style="">
			<section class="ml-2 mr-2">
					<div class="container-fluid">
						<h1 class="text-center pt-2">Choose your favorite Team</h1>
						<hr class="w-75 mx-auto pt-3 ">
						<div class="row vertical-center-row">
							<div class="col-md-12 center">  
	   						 	<a href="#" class="btn btn-success btn-lg">Vote</a>
	   						 	<a href="#" class="btn btn-warning btn-lg">Result</a>
							</div>
						</div>

					</div>
				</section>
		</div>

	</div>
</div>

</section>
